@model List<AntamNghe.WebAdmin.Models.CallLog>

<h2>Call Logs</h2>

<table class="table">
    <tr>
        <th>Phone</th>
        <th>Time</th>
        <th>Status</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Phone</td>
            <td>@item.Time</td>
            <td>@item.Status</td>
        </tr>
    }
</table>