@model AntamNghe.WebAdmin.Models.SpamNumber

<h2>Edit Spam</h2>

<form method="post">

    <input type="hidden" asp-for="Id" />

    <div>
        <label>Phone</label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <div>
        <label>Type</label>
        <input asp-for="Type" class="form-control" />
    </div>

    <div>
        <label>Report</label>
        <input asp-for="ReportCount" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Update</button>

</form>